page-cuentas-pagar-retenido {
    .fuenteNegrita{
        font-weight: bold;
      }
      
    .fuentePequena{
        font-size: small;
      }
      .fuenteMini{
        font-size: x-small;
      }  

}

