page-registra-cargo-abono {
    .monto-operacion{        
        font-size: 3em;
    }

    
    .iconGrande{        
        zoom:2.0;
    }

    .iconPequeno{        
        zoom:1.0;
    }


    textarea {
        max-width: 100%;
        width: 100%;
        height: 20vh;
        }

    
    
}


.action-sheets-basic-page {    
    .ion-md-camera {
      color: rgb(48, 91, 155);
    }
    .ion-md-clipboard {
      color: rgb(236, 214, 13);
    }
  
  }