<!--
  Generated template for the RegistraCargoAbonoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">  
    
      <ion-toolbar>
          <ion-buttons start>
              <button ion-button icon-only color="royal" (click)="dismiss()">
                  <ion-icon name="close"></ion-icon>
              </button>              
          </ion-buttons>
          <ion-title (click)="dismiss()">{{nombre  | slice:0:18 }}</ion-title>
          <ion-buttons end>
              <button ion-button round  color="light" (click)="presentActionSheet()">
                  <ion-icon name="images"></ion-icon>                      
              </button>
          </ion-buttons>
        </ion-toolbar>          
      
    
  </ion-navbar>

</ion-header>


<ion-content padding class="action-sheets-basic-page">

  <div style="text-align:center;">
  <button ion-button color="cargo" outline class="btnOperacion" [style.color]="estiloTextoBotonCargo" [style.background-color]="estiloFondoBotonCargo" (click)="setOperacion('C')">Cargo</button>
  <button ion-button color="abono" outline class="btnOperacion" [style.color]="estiloTextoBotonAbono" [style.background-color]="estiloFondoBotonAbono" (click)="setOperacion('A')">Abono</button>
  </div>

  <ion-card>
    <ion-item>
      <ion-input type="number" placeholder="$" class="monto-operacion"  [value]="txtMonto" [(ngModel)]="txtMonto"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
  <ion-item>
    <ion-label floating>Concepto</ion-label>     
    <ion-input type="text" [value]="txtConcepto" [(ngModel)]="txtConcepto"></ion-input>    
  </ion-item>

  <ion-item>
    <ion-label>Forma de pago</ion-label>
    <ion-select [(ngModel)]="cmbFormaPago">
      <ion-option *ngFor="let fp of listaFormaPago" value="{{ fp.idMedioAcceso }}">{{ fp.nombre }}</ion-option>        
    </ion-select>
   </ion-item>
 
  
    <ion-item *ngIf="isNotaActivada">
      <ion-label floating>Descripcion</ion-label>      
      <ion-textarea [value]="txtNota" [(ngModel)]="txtNota"></ion-textarea>
    </ion-item>  
  </ion-card>
    
</ion-content>


<ion-footer>
  <ion-toolbar>
      <button ion-button full icon-end [disabled]="registraButton" (click)="registraMovimiento()">        
          Registrar
          <ion-icon name="arrow-forward"></ion-icon>
      </button>
  </ion-toolbar>
</ion-footer>
