<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" hideBackButton="true">      
    <ion-title>GO Expense</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  
  <img src="assets/images/cover.jpg" alt="" (click)="refreshInicio()">

  <ion-list>
    <button ion-item *ngFor="let subcta of subcuentas" (click)="gotoRegistraCargoAbono(subcta.idSubCuenta, subcta.nombre)">       

      <h2>{{ subcta.nombre }}</h2>
      <p>{{ subcta.descripcion }}</p>      
      <ion-note *ngIf="idCuentaRegMov==subcta.idSubCuenta && tipoOperacionRegMov=='C'" style="color:red" item-end>$ {{ GLOBAL.formatNumeroMoneda(  subcta.saldoDisponible  ) }}</ion-note>    
      <ion-note *ngIf="idCuentaRegMov==subcta.idSubCuenta && tipoOperacionRegMov=='A'" style="color:blue" item-end>$ {{ GLOBAL.formatNumeroMoneda(  subcta.saldoDisponible  ) }}</ion-note>
      <ion-note *ngIf="idCuentaRegMov!=subcta.idSubCuenta" item-end>$ {{ GLOBAL.formatNumeroMoneda(subcta.saldoDisponible) }}</ion-note>    
    </button>    
  </ion-list>
  <br><br><br><br>
</ion-content>



  